<div class="well hoverwell" ng-click="eventsListingCtrl.getEventDetails();">
  <div class="row">
    <h2 class="span6"><a id="eventId" href="event/{{ event.id }}">{{ event.name }}</a></h2>
  </div>
  <div class="row">
    <span class="span1">Date: </span>
    <span id="event-date">{{ event.date }}</span>
  </div>
  <div class="row">
    <span class="span1">Time: </span>
    <span id="event-time">{{ event.time }}</span>
  </div>
  <div class="row">
    <span class="span1">Location: </span>
    <span id="event-location">{{ event.location.address }}</span>
  </div>
  <div class="row">
    <span class="span1">&nbsp;</span>
    <span id="event-zip">{{ event.location.city }}, {{ event.location.province }}</span>
  </div>
</div>
